@font-face {
  font-family: 'Sharp Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url(https://storage.googleapis.com/funding-images/letters/fonts/sharp_grotesk/Semibold.woff) format('woff');
}
